{
    # Increase the maximum size of HTTP headers Caddy will accept
    servers {
        max_header_size 32k
    }
}

fruit.test {
# Routes all traffic to the container named 'app' on port 3001
    reverse_proxy app:3001
    tls /certs/fruit.test.pem /certs/fruit.test-key.pem
}

pinoy.test {
# Routes all traffic to the container named 'app' on port 3001
    reverse_proxy app:3001
    tls /certs/pinoy.test.pem /certs/pinoy.test-key.pem
}

http://pinoy-shops.com {
    reverse_proxy app:3001
}
