services:
  redis:
    image: "redis:alpine"
    ports:
      - "6380:6379"

  app:
    image: "node:22"
    user: "node"
    working_dir: /home/node/app
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3001
      - SITE_REDIS_URI=redis://redis:6379/0
      - REDIS_URI=redis://redis:6379/1
      # Add your Auth0 variables here or in a .env file
    volumes:
      - ./:/home/node/app
    expose:
      - "3001"
    # Command to run your root package.json start script
    command: [ "npm", "start", "--prefix", "backend" ]
    depends_on:
      - redis

  proxy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./certs:/certs
    depends_on:
      - app
