node_modules
dist
dist-ssr
# Ignore everything inside public, but don't ignore the public folder itself
public/**/*
# Exception: Do NOT ignore the .gitkeep file inside public
!public/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
